---
version: '3.7'

services:
  web:
    build:
      context: './images/the-gear-of-seasons'
    container_name: the-gear-of-seasons_web
    hostname: the-gear-of-seasons_web
    restart: always
    networks:
      - planet-link
    volumes:
      - ./var:/gear
    working_dir: /gear
    entrypoint:
      - /gear/the-gear-of-seasons
      - -shelf
      - /gear/_shelf
      - -cache
      - /gear/_cache
      - -listen-omote
      - :8080
      - -listen-ura
      - :8081
    expose:
      - '8080'
      - '8081'
    logging:
      driver: 'json-file'
      options:
        max-file: '4'
        max-size: '250m'

networks:
  planet-link:
    external: true
