<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>妖精⊸ロケット :: admin</title>
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>

<div class="sidebar">
  <div class="sidebar-title"><a href="/" target="_blank">妖精⊸ロケット</a></div>
  <hr>
  <ul>
    <li><a href="/admin/new">新規モーメント</a></li>
    <li><a href="/admin/moments">モーメント</a></li>
    <li><a href="/admin/entities">エンティティ</a></li>
  </ul>
</div>
<div class="content">
  {{template "content" .}}
</div>
</body>
</html>