{{define "content"}}
<div class="editor-container">
  <div class="editor-wrapper">
    <input class="editor-title" type="text" name="title" id="title" placeholder="タイトル" />
    <div class="editor-bar">
        <input class="editor-date" type="datetime" name="date" id="date" placeholder="2112/09/03 15:33:44" />
        <select name="author" id="author">
          <option value="藤崎かえで">藤崎かえで</option>
          <option value="甚三紅もみじ">甚三紅もみじ</option>
        </select>
        <div class="space"></div>
        <button id="upload_button">⬆</button>
        <div class="space"></div>
        <button id="submit">SAVE</button>
        <button id="go">≫</button>
    </div>
    <textarea id="text"></textarea>
  </div>
  <div id="preview"></div>
</div>
<script src="/static/admin-editor.js"></script>
{{end}}
