{{define "content"}}
<div id="entities-container">
<div id="entities">
    <h2>{{.Year}}年のエンティティ&nbsp;({{len .Entities}})</h2>
    <a href="/entities/{{.LastYear}}">前年</a>
    <a href="/entities/{{.NextYear}}">翌年</a>
    <hr>
    <div class="entity-list">

{{range .Entities}}
  <a href="/entity/{{.ID}}" class="entity">
      {{if (isImage .)}}
      <div class="entity-date">画像: {{.Date.Format "01/02 15:04:05"}}</div>
      <div class="entity-image"><img src="/entity/{{.ID}}/icon"></div>
      {{end}}
      {{if (isVideo .)}}
      <div class="entity-date">動画: {{.Date.Format "01/02 15:04:05"}}</div>
      <div class="entity-video">
          <video width="{{.Width}}" height="{{.Height}}" preload="metadata" controls="controls">
              <source type="{{.MimeType}}" src="/entity/{{.ID}}" />
          </video>
      </div>
      {{end}}
  </a>
{{end}}

    </div>
</div>
</div>
{{end}}
