{{define "content"}}
<div id="moments-container">
<div id="moments">
    <h2>{{.Year}}年のモーメント</h2>
    <a href="/moments/{{.LastYear}}">前年</a>
    <a href="/moments/{{.NextYear}}">翌年</a>
    <hr>
    <div class="moment-list">

{{range .Moments}}
  <a href="{{.Moment.Path}}" class="moment">
      <div class="moment-date">{{.Moment.Date.Format "01/02 15:04:05"}}</div>
      {{if .FindFirstImage}}
      <div class="moment-image"><img src="/entity/{{.FindFirstImage.ID}}/icon/"></div>
      {{else}}
          <div class="moment-image"><img src=""></div>
      {{end}}
      <div class="moment-title">{{.Moment.Title}}</div>
  </a>
{{end}}

    </div>
</div>
</div>
{{end}}
