<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>妖精⊸ロケット :: the gear of seasons</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <canvas id="background"></canvas>
  <script src="/static/main.js"></script>
</body>
</html>
