<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>妖精⊸ロケット :: admin</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<div class="sidebar">
  <div class="sidebar-title"><a href="{{> omote-url}}" target="_blank">妖精⊸ロケット</a></div>
  <hr>
  <ul>
      <li class="sidebar-submenu">モーメント
          <ul>
              <li><a href="/new">新規</a></li>
              <li><a href="/moments/">一覧</a></li>
          </ul>
      </li>
  </ul>
</div>
<div class="content">
  {{> content}}
</div>
</body>
</html>
