<div class="editor-container">
  <div class="editor-wrapper">
    <input class="editor-title" type="text" name="title" id="title" placeholder="タイトル" {{#if title}}value="{{title}}"{{/if}} />
    <div class="editor-bar">
      <input class="editor-date" type="text" name="date" id="date" placeholder="2112/09/03 15:33:44" {{#if date}}value="{{date}}"{{/if}} />
      <select name="author" id="author">
        <option value="藤咲かえで" {{#if (eq author "藤咲かえで")}}selected{{/if}}>藤咲かえで</option>
        <option value="甚三紅もみじ" {{#if (eq author "甚三紅もみじ")}}selected{{/if}}>甚三紅もみじ</option>
      </select>
      <div class="space"></div>
      <button id="upload">&nbsp;⬆&nbsp;</button>
      <div class="space"></div>
      <button id="save">SAVE</button>
      <div style="width: 1em;"></div>
      <button id="delete">DEL</button>
    </div>
    <textarea id="text">{{text}}</textarea>
  </div>
  <div id="preview"></div>
</div>
<script src="/js/editor.js"></script>
